<div class="container">
    <p class="text-center">My goals are to:</p>
    <div class="row">
        <div *ngFor="let goal of goals; let i = index">
            <div class="col-sm-12">
                <div class="card shadow mb-3 bg-body rounded" style="width: 21rem;">
                    <div class="card-body">
                        <h5 class="card-title" appStrikethrough>{{goal.name}}</h5>
                        <p class="text-muted">Due Date: {{goal.completeDate | date}} ({{ goal.completeDate | dateCount}} Days remaining)</p>
                        <p class="card-text"><app-goal-details *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'completeGoal($event,i)'></app-goal-details></p>
                        <a href="#" class="btn btn-primary btn-sm" (click)='toggleDetails(i)'>More Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>